* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.debug {
    background-color: grey;
}

.container{
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

/* FIRST SECTION---------------- */
.section-top {
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
}

.speaker, .expand{
    border-radius: 10px;
    padding: 5px;
    background-color: darkslategray;
    margin: 0 3px;
}

.speaker {
    color: white;
}

/* MAIN--------------------------- */
#main {
    height: 80vh;
    width: 95%;
    margin: auto;
}

.window {
    background-color: cornflowerblue;
    width: calc(100% / 7 - 4px);
    height: calc(80vh / 5 - 8px);
    margin: 4px 2px;
    color: white; 
    position: relative; 
}

.user-image {
    width: 100%;
    height: 100%;
}

.name {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-size: small;
    backdrop-filter: brightness(0.5);
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* LAST SECTION------------------ */
.section-bottom {
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section-bottom > *{
    display: flex;
    align-items: center;
    text-align: center;
}

.bottom-right {
    height: 100%;
    padding: 15px;
    font-size: small;
    background-color: darkslategray;
    color: red;
}
